<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HACKHEIST | {{file_name}}</title>
    <link rel="icon" href="https://i.ibb.co/pX4X7Hr/IMG-20240722-105348-184.jpg" type="image/x-icon">
    <link rel="shortcut icon" href="https://i.ibb.co/pX4X7Hr/IMG-20240722-105348-184.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/proavipatil/data@main/fs/src/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/proavipatil/data@main/fs/src/plyr.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
<style>
.button {
  background: linear-gradient(to right, #ff8000, #ff0000); /* Orange to red gradient */
  border: yellow;
  color: white; /* White text */
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 80px; /* Rounded corners */
}

.n01 {
  background: linear-gradient(to right, #8C1938, #221938); /* Blue to darker blue gradient */
  color: #EFD1A7; /* Black text */ 
}
.n02 {
  background: linear-gradient(to right, #ff8000, #ff0000); /* Blue to darker blue gradient */
  color: #261B48; /* Black text */ 
}
.p01 {
  color: yellow; /* Blue text */
  font-size: 50px; /* Text size */
  font-family: "Alkatra", sans-serif; /* Font style */
}
.p02 {
  color: #007bff; /* Blue text */
  font-size: 24px; /* Text size */
  font-family: "Arial", sans-serif; /* Font style */
}
</style>
</head>

<body>
    <nav>
        <div class="nleft">
            <a href="#">
                <h3 id="heading" style="z-index: 100;" class="magnet title">Streaming Your File by HACKHEIST😈</h3>
            </a>
        </div>
        <div class="nryt">
            <a class="home-btn magnet" href="#main" onclick="toggleWidthnav(this)">HOME</a>

            <a href="#abtus" class="about-btn magnet" onclick="toggleWidthnav(this)">ABOUT</a>
        </div>
    </nav>
    <center>
        <div class="about-nav">
            <a href="#abtus" class="wlcm magnet" onclick="toggleWidth(this)">WELCOME</a>
            <a href="#channels" class="abt-chnl magnet" onclick="toggleWidth(this)">CHANNELS</a>
            <a href="#contact" class="magnet contact-btn" onclick="toggleWidth(this)">CONTACT</a>
        </div>
    </center>

    <div class="outer">
        <div class="inner">
            <div class="main" id="main">
                <video id="player" class="player" src="{{file_url}}" type="video/mp4" playsinline controls
                    width="100%"></video>
                <div class="player"></div>
                <div class="file-name">
                    <h4 style="display: inline;">File Name: </h4>
                    <p style="display: inline;" id="myDiv">{{file_name}}</p><br>
                    <h4 style="display: inline;">File Size: </h4>
                    <p style="display: inline;">{{file_size}}</p>
                     
                     <div style="text-align: center;">
    <p><a href="https://hackheist.carrd.co" style="text-decoration: underline; text-decoration-color: blue; font-size: 16px;">https://hackheist.carrd.co</a></p>
<a href="https://t.me/HACKHEIST_FREE_USE" class="button n01">𝐅𝐑𝐄𝐄 𝐈𝐍𝐓𝐄𝐑𝐍𝐄𝐓 𝐈𝐍 𝐀𝐋𝐋 𝐒𝐈𝐌𝐒 🤩</a>
<p01>In above this channel i upload all methods to get free unlimited internet 👻</p01>
<a href="https://t.me/addlist/rMLA4niKz9xjYjg1" class="button n02">𝗝𝗢𝗜𝗡 𝗢𝗨𝗥 𝗔𝗗𝗗𝗟𝗜𝗦𝗧 🥰𝗝𝗢𝗜𝗡 𝗢𝗨𝗥 𝗖𝗛𝗔𝗡𝗡𝗘𝗟𝗦 😁</a>
<p02>Join our addlist this contains IIT SCHOOL , APNI KAKSHA , VORA REBOUNCE , MOTION & many more ☠️</p02>

</div>
</div>
                <div class="downloadBtn">
                    <button class="magnet" onclick="streamDownload()">
                        <img style="height: 30px;" src="https://i.ibb.co/RjzYttX/dl.png" alt="">download video
                    </button>
                    <button class="magnet" onclick="copyStreamLink()">
                        <img src="https://i.ibb.co/CM4Y586/link.png" alt="Copy Link">copy link
                    </button>
                    <button class="magnet" onclick="vlc_player()">
                        <img src="https://i.ibb.co/px6fQs1/vlc.png" alt="">watch in VLC PLAYER
                    </button>
                    <button class="magnet" onclick="mx_player()">
                        <img src="https://i.ibb.co/41WvtQ3/mx.png" alt="">watch in MX PLAYER
                    </button>
                    <button class="magnet" onclick="n_player()">
                        <img src="https://i.ibb.co/Hd2dS4t/nPlayer.png" alt="">watch in nPlayer
                    </button>
                </div>

            </div>
            <div class="abt">
                <div class="about">
                    <div class="about-dets">

                        <div class="abt-sec" id="abtus" style="padding: 160px 30px;">
                            <h1 style="text-align: center;">WELCOME TO HACKHEIST <Span>YOUR HACKHEIST</Span> BOT</h1>
                            <p style="text-align: center; line-height: 2;word-spacing: 2px;  letter-spacing: 0.8px;">
                                This is a Telegram Bot to Stream <span>Lectures</span> and <span>Videos</span> directly on
                                Telegram. You can also
                                <span>download</span> them if you want. This bot is developed by <a
                                    href="https://t.me/hackheist_bot"><span style="font-weight: 700;">HACKHEIST</span></a>
                                <br><br>If you like this bot, then don't
                                forget to share it with your friends and family.
                            </p>
                        </div>

                        <div class="abt-sec" id="channels">
                            <h1>JOIN OUR <span>TELEGRAM</span> CHANNELS</h1>
                            <div class="links chnl-link">
                                <a class="magnet" href="https://t.me/addlist/rMLA4niKz9xjYjg1">
                                    <button>𝗢𝗨𝗥 𝗖𝗛𝗔𝗡𝗡𝗘𝗟𝗦</button>
                                </a>
                                 <a class="magnet" href="https://t.me/Team_Upscale">
                                    <button>JEE UPSCALE</button>
                                </a>
                                <a class="magnet" href="https://t.me/OPMASTERLECTURES">
                                    <button>FOR MORE</button>
                                </a>
                                <a class="magnet" href="https://hackheist.carrd.co">
                                    <button>STAY CONNECTED</button>
                                </a>
                                <a class="magnet" href="https://t.me/hackheist_bot">
                                </a>
                            </div>
                        </div>

                        <div class="abt-sec" id="contact">
                            <p style="text-align: center;">Report Bugs and Contact us on Telegram Below</p>
                            <div class="links contact">
                                <a href="https://t.me/hackheist_bot">
                                    <button>CONTACT</button>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <footer>
 <div style="text-align: center;">
        <h6 id="dynamicHeading" style="color: Yellow; font-size: 20px;">Hello Friend , I am HACKHEIST as you know me please click on "ABOUT BUTTON" and Click on "CHANNELS" and check our all FREE 🥰🥰 CHANNELS only for you all of them</h6>
<center>
            <!-- ... your existing HTML ... -->

<div class="abt-sec" id="contact">
    <!-- contact section content -->
</div>
</div> 
</div> 
</div>

<footer style="text-align: center; margin-top: 50px;">
    <img src="https://i.ibb.co/PmxPd2m/IMG-20240428-140107-972.jpg" alt="Footer Image" style="max-width: 100%; height: auto;">
</footer>
    </center>

            <center>
                <div class="copyright">
                    <h5 class="text-center">Copyright © 2024 <a href="https://t.me/hackheist_bot"><span
                                style="font-weight: 700;">HACKHEIST</span></a>. All
                        Rights Reserved.</h5>
                </div>
            </center>
        </footer>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sheryjs/dist/Shery.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const uncopyableElement = document.querySelector(".uncopyable");

        uncopyableElement.addEventListener("selectstart", function (event) {
            event.preventDefault();
        });
    });
</script>
<script src="https://cdn.plyr.io/3.6.9/plyr.js"></script>
<script src="https://proavipatil.github.io/data/fs/src/script.js"></script>

        </html>
